body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.content-top{
    display: flex;
    position: relative;
    
}
.content-top .shadow{
    background-color: black;
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.content-top .background{
    width: 100%; 
    height: 100vh;
}
.content-top .logo {

    width: 40%;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.content-second {
    display: flex;
}
.content-second .content-second-left {
    /* justify-content: space-around; */
    width: 60%;
    background-color: #f4e9db;
    padding-left: 80px;
    padding-right: 80px;
}
.content-second .content-second-left h1 {
    color: #f16038;
    font-family: Duepuntozero;
    font-style: italic;
    font-size: 40px;
    text-transform: none;
    padding-top: 70px;
    padding-bottom: 24.5px;
    border-bottom: 1px solid #c6bcb1;
    margin-bottom: 23.5px;
}
.content-second .content-second-left .text-left {
    color: #4b4b4b;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-second .content-second-right {
    /* justify-content: space-around; */
    width: 40%;
}
.content-second .content-second-right .owner {
    width: 100%;
    height: 100%;
}
.content-third {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #c5370f;
    padding-bottom: 70px;
}
.content-third .item {
    width: 20%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.content-third .item .about {
    width: 100px;
    height: 100px;
}
h2 {
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: azure;
}
.content-four {
    width: 100%;
    background: url('../Assets/Img/background-2.jpg');
}
h3 {
    padding-top: 180px;
    padding-bottom: 180px;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.content-five {
    background-color:#f4e9db ;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 150px;
    padding-bottom: 50px;
}
.content-five ul {
    display: flex;
    flex-wrap: wrap;
}
.content-five li {
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    align-items: flex-start;
    
}
.content-five li:nth-child(2n){
    padding-left: 5%
}
.content-five .product{
    width: 103px;
    height: 203px;
   
}
.content-five .product-info {
    width: 300px;
    padding-left: 50px;
}
.content-five h4 {
    color: #f16038;
    font-size: 32px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-five .product-details {
    color: #4b4b4b;
    font-size: 16px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
}

.content-five .product-ingredients p {
    color: #b64828;
    line-height: 20px;
    font-size: 12px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-five .product-ingredients p:nth-child(3) {
    padding-top: 20px;
}
.content-six {
    display: flex;
    background-color: #741d19;
    justify-content: space-around;
    align-items: center;
    padding: 24px 15%;
}
.content-six .content-six-left {
    width: 50%;
}
.content-six .content-six-left img {
    width: 400px;
    height: 290px;
}
.content-six-right {
    width: 50%;
    color: #f4e9db;
}
.content-six-right h5 {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .75px;
    line-height: 40px;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4e9db;
}
.content-six-right .info {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}
.content-six-right ol {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.content-six-right ol li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.content-six-right ol li p:nth-child(1) {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #f4e9db;
    text-align: center;
    line-height: 44px;
    font-style: italic;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.content-six-right ol li p:nth-child(2) {
    width: 70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10%;
    margin-right: 15%;
}
.content-seven {
    background: url(../Assets/Img/gallery-1.jpg);
}

.content-eight {
    background-color: #f4e9db;
    padding-top: 40px;
    padding-bottom: 30px;
}

.content-eight h6 {
    text-align: center;
    color: #f16038;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
    text-transform: none;
    margin-bottom: 10px;
}
.content-eight p {
    text-align: center;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form {
    width: 70%;
    margin: 40px auto 0 auto;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4b4b4b;
}

label {
    display: block;
    width: 100%;
}

input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: solid 1px gainsboro;
}
textarea {
    width: 100%;
    resize: none;
    height: 70px;
    box-sizing: border-box;
    border: solid 1px gainsboro;
    margin-bottom: 30px;
}
button {
    display: block;
    margin: 0 auto;
    background: #f16038;
    color: #f4e9db;
    width: 145px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    cursor: pointer;
}
.content-nine {
    background:#b64828; ;
}
.content-nine p {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: #f4e9db;
    font-size: 18px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


